/*Header Footer*/

html, body{
	height: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', serif;
	position: relative;
	box-sizing: inherit;
	font-size: 1em;
	background-color: white;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
}

header {
	background-color: rgb(74, 118, 178);
	height: 100px;
	width: 100%;
	margin: 0px;
	top: 0px;
	left: 0px;
	padding: 0px 20px;
	box-sizing:border-box;
}

footer {
	margin: auto;
	width: 100%;
	height: 100px;
	bottom: 0;
	background-color: #dddddd;
	text-align: center;
	position: relative;
	clear: both;
	padding-top: 10px
}

div {display: block;}

a {
	color: gray;
	text-decoration: none;
}

a:hover{text-decoration: underline;}

p{
	padding-top: 10px;
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1 {
	margin-top: 0;
  	font-size: 2.074em;
}
h2 {font-size: 1.728em;}
h3 {font-size: 1.44em;}
h4 {margin-top: 0em;
	font-size: 1.2em;}
small, .font_small {font-size: 0.833em;}



/*App Layout*/

#content{
	display: block;
	max-height: 800px;
	/*padding-bottom:60px;*/
	/*position: relative;*/
}

#left_bar{
	width: 25%;
	height: calc(100% + 100px);
	background-color: #efefef;
	display: block;
	float:left;
	position: relative;
}

#canvas{
	width: 75%;
	height: calc(100% + 100px);
	max-height: 600px;
	background-color: white;
	margin: auto;
	float: right;
	position: relative;
	border: 2px;
	display: block;
	/*display: inline-flex;*/
}

/*Left Bar Drag Items*/

.left_bar{
	text-align: center;
	display: block;
	border: 1px;
	border-color: gray;
}
.left_bar p{
	text-align: center;
	margin: 0 auto;
	font-size: 0.7em;
}
.drag_box{
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px 0;
	width: 140px;
	height: 140px;
	border-radius: 10px;
	font-size: 1em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.drag_box img{
	margin: 0 auto;
	height: 80%;
	width: auto;
	border-radius: 4px;
}

#small_drag{
	background-color: white; 	/*blue  #4A76B2 or rgba(99, 143, 190, 0.2); */
	border-style: solid;
	border-color: #4A76B2;
}

#large_drag{
	/*background-color: white;*/
	border-style: hidden;
	background-color: white;
}


/*Viewer Canvas*/
canvas{
	margin: auto;
	width:100%;
	height:100%;
	position: relative;
	/*display: block;*/
	/*z-index:-1;*/
}

.app p{
	margin: 0 auto;
	text-align: center;
}

.app{
	/*display: block;*/
}


@media screen and (max-width: 700px){

	/* Mobile - show KS video alternative */
	video{
		width: 60%;
		margin: 0 auto;
		height: auto;
	    max-height: 100%;
	}

	.mobileDevice{
		display: block;
	}

	/* Hide App content */
	#content{
		display: none;
	}
	.app{
		display: none;
	}
	.left_bar{
		display: none;
	}
}