

/*Header Footer*/

html, body{
	height: 100%;
	padding: 0;
	margin: 0 auto;
}


header {
	background-color: rgb(74, 118, 178);
	height: 100px;
	width: 100%;
	margin: 0px;
	top: 0px;
	left: 0px;
	padding: 0px 20px;
}

footer {
	margin: auto;
	height: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #dddddd;
	text-align: center;
	position: fixed;
}


/*App Layout*/
#content{
}

div {
	display: block;
}

#left_bar{
	width: 30%;
	height: calc(100% - 200px);
	background-color: #efefef;
	display: inline-flex;
}

#canvas{
	width: 70%;
	height: calc(100% - 200px);
	background-color: white;
	margin: auto;
	float: right;
	/*display: inline-flex;*/
}

/*Left Bar Drag Items*/

.left_bar{
	text-align: center;
	/*display: flex;*/
	margin: auto;
}
.left_bar p{
	text-align: center;
	margin: 0 auto;
}

#small_drag{
	background-color: lightblue;
	width: 200px;
	height: 200px;
	display: block;
}

#large_drag{
	background-color: salmon;
	width: 200px;
	height: 200px;
	display: block;
}


/*Viewer Canvas*/
canvas{
	margin: auto;
	width:100%;
	height:100%;
	/*z-index:-1;*/
}

.canvas p{
	margin: 0 auto;
	text-align: center;
}

.canvas{
	/*display: block;*/
}



